
.table-transaction {
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  thead {
    background-color: #3498db;
    color: white;
   
  }
  
  th, td {
    padding: 15px;
    text-align: left;
  }
  

  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tbody tr:hover {
    background-color: #e0e0e0;
  }
  
  .search-input {
    padding: 12px;
    width: 100%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }

  .search-input:focus {
    border-color: #3498db;
    outline: none;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.7);
  }
  
  @media (max-width: 768px) {
    table {
      font-size: 14px;
    }
    
    th, td {
      padding: 10px;
    
    }
    
  }
  button {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 3px;
   }
   
   button:hover {
    background-color: darkred;
   }